{% extends "main/base_content.html" %}

{% block head %}
   <title>О нас</title>
{% endblock %}

{% block content %}

    <div class="empty_section">
       
       <div class="content_container_2">
                    <h3 class="content_header_3">
                   Здравствуйте, уважаемые партнеры! 
                </h3>
                
        
                <div class="flex_container_2_parts extended">
                 <div class="flex_container_1part">
                    <div class="enter_citate">
                    <h6>
                        Реклама - это не точная наука. Это внушение. А внушение - это искусство. 
                    </h6>
                    <p>
                        (с) Уильям Бернбах, <br> легенда американского рекламного бизнеса.
                        
                        <br><br>
                        Приняв решение сотрудничать с нами, Вы должны точно понимать, что здесь мы создаём искусство.
                    </p>
                </div>
                    </div>
               
            <div class="flex_container_2part">
              
                
                </div>
                
                </div>
                


            </div>
        <div class="content_container_2">
           <div class="aboveline_container">
        <div class="aboveline_line"></div>
        <p class="aboveline">
            Подробно
        </p>
      </div>
            <h4 class="content_header_2">
                О нашей команде
            </h4>
            <div class="container_for_text">
                <p class="content_description_label">
                    Кто мы
                </p>
                <p class="content_sub_header">
                    Глобакс Медиа - это рекламное агентство полного цикла.

                    Мы не просто хорошо разбираемся в рекламной индустрии. 

                    <br><br>И мы не только динамично развивающаяся компания, собравшая в себе талантливых и коммуникабельных профессионалов, любящих свое дело.

                    <br><br>


                    Мы - больше. Мы - команда, которая от начала и до конца с тонким творческим подходом и математическим просчетом решит любую задачу. 


                </p>
                



            </div>
            
            
            <div class="container_for_text">
                <p class="content_description_label">
                    Почему мы
                </p>
            <p class="text_center"> Наши коммуникации с партнёрами, в первую очередь, строятся на трёх базовых принципах:</p>
            
            <div class="row_3">
                <div class="column">
                    <h3 class="fat_label">Доверие</h3>
                    <div class="icon_new" style="background-image: url(/static/main/img/ICONS/new/guys_blue.png)"></div>
                    <h6 class="sub_label">Что мы ценим</h6>
                    <p>Честный и прозрачный бизнес</p>
                </div>
                <div class="column">
                    <h3 class="fat_label">Уважение</h3>
                    <div class="icon_new" style="background-image: url(/static/main/img/ICONS/new/hands_blue.png)"></div>
                    <h6 class="sub_label">Что мы создаем</h6>
                    <p>Качественные услуги</p>
                </div>
                <div class="column">
                    <h3 class="fat_label">Понимание</h3>
                    <div class="icon_new" style="background-image: url(/static/main/img/ICONS/new/pushers_blue.png)"></div>
                    <h6 class="sub_label">Что нас объединяет</h6>
                    <p>Общие задачи и нужный результат</p>
                </div>
            </div>
            
                <p class="text_center">Сотрудничество с Globax Media - это качественно реализованные рекламные кампании в любом регионе России и за её пределами. Зная цену времени, мы умеем экономить Ваши деньги!</p>
            
           
        </div>
            <div class="enter_citate_end">
                <h3>
                    Реклама - не точная наука. Но когда Вы говорите “реклама” мы точно знаем, что Вы имеете ввиду.


                </h3>
            </div>
        </div>

    


    </div>
{% endblock %}