{% extends "main/base_content.html" %}

{% block head %}
   <title>О нас</title>
{% endblock %}

{% block content %}

    <div class="empty_section">
       
       <div class="content_container_2">
                    <h3 class="content_header_3">
                   Здравствуйте, уважаемые партнеры! 
                </h3>
                
        
                <div class="flex_container_2_parts extended">
                 <div class="flex_container_1part">
                    <div class="enter_citate">
                    <h6>
                        Реклама - это не точная наука. Это внушение. А внушение - это искусство. 
                    </h6>
                    <p>
                        (с) Уильям Бернбах, <br> легенда американского рекламного бизнеса.
                    </p>
                </div>
                    </div>
               
            <div class="flex_container_2part">
                <div class="enter_citate_down">
                    <p>
                       
                        Приняв решение сотрудничать с нами, Вы должны точно понимать, что здесь мы создаём искусство.
                    </p>
                </div>
                
                </div>
                
                </div>
                


            </div>
        <div class="content_container_2">
           <div class="aboveline_container">
        <div class="aboveline_line"></div>
        <p class="aboveline">
            Подробно
        </p>
      </div>
            <h4 class="content_header_2">
                О нашей команде
            </h4>
            <div class="container_for_text">
                <p class="content_description_label">
                    Кто мы
                </p>
                <div class="flex_container_2_parts">
                    <div class="flex_container_1part">
                        <p class="content_sub_header">
                            Глобакс Медиа - это рекламное агентство полного цикла.

Мы не просто хорошо разбираемся в рекламной индустрии. 
                       
                       <br><br>И мы не только динамично развивающаяся компания, собравшая в себе талантливых и коммуникабельных профессионалов, любящих свое дело.
                        </p>
                    </div>
                    <div class="flex_container_2part">
                        <p class="content_citate">
                           
Мы - больше. Мы - команда, которая от начала и до конца с тонким творческим подходом и математическим просчетом решит любую задачу. 


                        </p>
                    </div>
                </div>



            </div>
            
            <div class="container_for_text">
                <p class="content_description_label">
                    Почему мы
                </p>
                <div class="flex_container_2_parts">
                    <div class="flex_container_1part">
                        <p class="content_sub_header">
                          
                          Наши коммуникации с партнёрами, в первую очередь, строятся на трёх базовых принципах:

<span class="fat_span">взаимодоверие, взаимоуважение, взаимопонимание</span>.
                         
                           <br><br> Сотрудничество с Globax Media - это качественно реализованные рекламные кампании в любом регионе России и за её пределами. Зная цену времени, мы умеем экономить Ваши деньги!
                          
                            
                        </p>
                    </div>
                    <div class="flex_container_2part">
                       <p class="content_sub_header">
                           <b>ЧТО МЫ ЦЕНИМ</b><br>
                           Честный и прозрачный бизнес <br>
                           Сплоченную командную работу 


                           <br><br><b>ЧТО НАС ОБЪЕДИНЯЕТ</b><br>Общие задачи и нужный результат
                           
                        </p>
                    </div>
                </div>



            </div>
            
            <div class="enter_citate_end">
                    <h3>
                   Реклама - не точная наука. Но когда Вы говорите “реклама” мы точно знаем, что Вы имеете ввиду.

 
                </h3>
                </div>
        </div>

    


    </div>
{% endblock %}