{% extends "main/base_content.html" %}

{% block head %}
   <title>Контакты</title>
{% endblock %}

{% block content %}


<div class="empty_section">
       
       
        <div class="content_container_2">
           <div class="aboveline_container">
        <div class="aboveline_line"></div>
        <p class="aboveline">
            Подробно
        </p>
      </div>
            <h4 class="content_header_2">
                Контакты
            </h4>
             
             <div class="container_for_text">
                <p class="content_description_label">
                    Координаты
                </p>
                <div class="flex_container_2_parts">
                    <div class="flex_container_1part">
                        <p class="content_sub_header contacts_text">
        <b>Адрес</b> <br> 107078, г. Москва, Орликов пер., д. 5 стр. 1А <br>
        <b>Телефон</b> <br> +7-495-37-47-999 <br>
        <b>E-mail</b> <br> info@g-m.ru
    </p>
                    </div>
                    <div class="flex_container_2part contacts_text ">
                       <p class="content_sub_header ">
                           <b>График работы</b> <br>
                           ПН — ПТ  10:00 - 18:30
                           <br>
                           СБ — ВС  выходной
                        </p>
                        <p class="content_citate">
                            55°77'24'' с.ш. <br>
                            37°65'04'' в.д.
                        </p>
                    </div>
                </div>



            </div>
             
        
        </div>

    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15539.297795917106!2d37.638337280646034!3d55.772898113479805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a7b7885879d%3A0xb7c86ef1cdbb365c!2z0J7RgNC70LjQutC-0LIg0L_QtdGALiwgNdGBMdCQLCDQnNC-0YHQutCy0LAsIDEwNzA3OA!5e0!3m2!1sru!2sru!4v1498933838133" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>


    </div>
{% endblock %}