{% extends "main/base_content.html" %}

{% block head %}
   <title>Креатив и продакшн</title>
{% endblock %}

{% block content %}

<div class="content_section_small">


  <div class="content_container_2">
    <div class="aboveline_container">
      <div class="aboveline_line"></div>
      <p class="aboveline">
          Создание рекламы
      </p>
    </div>
      <h4 class="content_header_2">
  Креатив и продакшн
    </h4>
      <div class="container_for_text">
        <p class="content_description_label">
      Описание
        </p>
      <div class="flex_container_2_parts reverse_order">

        <div class="flex_container_1part">
          <p class="content_sub_header">
        Наполнение раздела находится в разработке.
    
          </p>
        </div>
        <div class="flex_container_2part">
        <p class="content_ciate">
          </p>
        </div>
      </div>



      </div>
      
      

<button class="content_button">
  Заказать рекламу
</button>

</div>

        </div>
{% endblock %}
