{% extends "main/base_content.html" %}


{% block head %}
    <title>Globax Media</title>
    {% endblock %}

{% block content %}

<div class="first_section enter_page">


<div class="enter_page_inside">
  <div class="enter_logo">
    <img src="/static/main/img/globax_logo.png" class="index_logo">
    	

  </div>  

  <h1 class="enter_header">Рекламное агентство полного цикла</h1>
  <h3 class="enter_logo_text">
      Вы делаете бизнес  <br> Мы  делаем  его  глобальным
  </h3>

  
  <a href="/service" class="enter_page_button">
      <span class="line_top"></span>
      <span class="line_right"></span>
      <span class="line_bottom"></span>
      <span class="line_left"></span>
      Услуги
  </a>
  
  
</div>

</div>



{% endblock %}