{% extends "main/base_content.html" %}

{% block head %}
   <title>Indoor</title>
{% endblock %}

{% block content %}

<div class="content_section_small">


  <div class="content_container_2">
    <div class="aboveline_container">
      <div class="aboveline_line"></div>
      <p class="aboveline">
          Реклама в нужной точке
      </p>
    </div>
      <h4 class="content_header_2">
    Indoor
    </h4>
      <div class="container_for_text">
        <p class="content_description_label">
      Описание
        </p>
      <div class="flex_container_2_parts reverse_order">

        <div class="flex_container_1part">
          <p class="content_sub_header">
           Indoor - это реклама на вокзалах, ЖД станциях, в аэропортах, бизнес центрах, ТРЦ, супермаркетах, детских садах, школах, ВУЗах, АЗС, фитнес-клубах, подъездах жилых домов, ресторанах, клубах, поликлиниках, в частных медицинских центрах, салонах красоты, во многих других местах скопления людей, а также реклама, размещенная на квитанциях ЖКХ.
           
           <br><br>

В том числе сюда можно отнести проведение промо-акций на выставках, в торговых центрах, парках и т.д.
          </p>
        </div>
        <div class="flex_container_2part">
<p class="content_sub_header">
  Главное преимущество Indoor рекламы – возможность воздействия на разные типы целевой аудитории. <br><br> 

Так, например, рекламу детских товаров уместно будет разместить в детских садах, школах, детских поликлиниках, торговых центрах, куда родители приходят со своими детьми. Рекламу спортивных товаров, продуктов здорового питания можно разместить в фитнес центрах, воздействуя тем самым на узкую целевую аудиторию.

</p>
        </div>
      </div>



      </div>

<div class="small_grid_text">
Типы носителей
</div>
      <div class="flex_container_items big_items">
        <div class="content_item opened">

          <p>
            <span>01</span>
            Световая реклама (лайтбоксы)

          </p>
          <div class="item_inside opened">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Главная цель - добиться эффективности проведенной кампании. Мы поможем осуществить это благодаря креативному подходу, современным рекламным носителям, комплексному охвату аудитории.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        <div class="content_item">

          <p>
              <span>02</span>
            Несветовая реклама (стенды, рамки, плакаты, стойки с полиграфией и тд)
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Главная цель - добиться эффективности проведенной кампании. Мы поможем осуществить это благодаря креативному подходу, современным рекламным носителям, комплексному охвату аудитории.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        <div class="content_item">

          <p>
              <span>03</span>
            Брендирование эскалаторов, лифтовых кабин
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Главная цель - добиться эффективности проведенной кампании. Мы поможем осуществить это благодаря креативному подходу, современным рекламным носителям, комплексному охвату аудитории.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        <div class="content_item">

          <p>
            <span>04</span>
            Размещение напольных 3D стикеров в торговых центрах и супермаркетах
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Главная цель - добиться эффективности проведенной кампании. Мы поможем осуществить это благодаря креативному подходу, современным рекламным носителям, комплексному охвату аудитории.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        
        <div class="content_item">

          <p>
            <span>05</span>
            Проведение промо-акций, организация мероприятий
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Главная цель - добиться эффективности проведенной кампании. Мы поможем осуществить это благодаря креативному подходу, современным рекламным носителям, комплексному охвату аудитории.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>

      </div>
</div>

<button class="content_button">
  Заказать рекламу
</button>

</div>


{% endblock %}