{% extends "main/base_content.html" %}

{% block head %}
   <title>Интернет реклама</title>
{% endblock %}

{% block content %}

<div class="content_section_small">


  <div class="content_container_2">
    <div class="aboveline_container">
      <div class="aboveline_line"></div>
      <p class="aboveline">
          Реклама на просторах сети
      </p>
    </div>
      <h4 class="content_header_2">
  Интернет
    </h4>
      <div class="container_for_text">
        <p class="content_description_label">
      Описание
        </p>
      <div class="flex_container_2_parts reverse_order">

        <div class="flex_container_1part">
          <p class="content_sub_header">
        Размещение рекламы в Интернете является отличным способом продвижения своих товаров или услуг. Различные форматы интернет-рекламы позволяют охватить весь спектр запросов вашей Целевой Аудитории. Разместить рекламу в интернете можно именно там, где её эффективность будет максимальной.

    
          </p>
        </div>
        <div class="flex_container_2part">
        <p class="content_ciate">
           Эффективная отдача — главное преимущество размещения рекламы в Интернете перед другими способами продвижения товаров и услуг. Другим важным плюсом интернет-рекламы является возможность измерить её: кто, когда и сколько раз посмотрел, откуда и куда ушёл .
Z
          </p>
        </div>
      </div>



      </div>
      
      <div class="small_grid_text">
Основные виды рекламы в Интернете
</div>
      <div class="flex_container_items big_items">
        <div class="content_item opened">

          <p>
            <span>01</span>
           Контекстная реклама

          </p>
          <div class="item_inside opened">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Контекстная реклама направлена на быстрое увеличение продаж. Ее принцип строится на показе рекламы тем пользователям поисковых сетей, которые уже заинтересованы в продукте (ищут о нем информацию), поэтому результат размещения виден достаточно быстро. Дальнейшая работа по улучшению рекламной кампании строится на выявлении скрытых поведенческих паттернов аудитории и увеличении охвата рекламы.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        <div class="content_item">

          <p>
              <span>02</span>
            Медийная реклама
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Данный продукт отвечает за подготовку и осуществление баннерной рекламы. Такая реклама может размещаться как в социальных сетях (таргетированная реклама), так и в Интернет-СМИ. Данный продукт отвечает за анализ рекламных площадок и выработку рекомендаций по размещению, формирование рекламного бюджета и прогноз ожидаемых результатов от размещений.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        <div class="content_item">

          <p>
              <span>03</span>
            Продвижение в социальных сетях (SMM)
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
        Захват рынка начинается с привлечения внимания пользователей. Размещение рекламы в социальных сетях — один из самых эффективных способов привлечь внимание к своему товару или услуге. <br><br>

SMM может использоваться как для увеличения продаж, так и для создания лояльной базы подписчиков, которая затем будет конвертироваться в долгосрочный рост покупателей. Данный продукт решает задачи продвижения приложений, групп, сообществ и конкурсов.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        <div class="content_item">

          <p>
            <span>04</span>
           Продвижение в поисковых сетях (SEO)
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
       SEO отвечает за увеличение органичного поискового трафика на сайт клиента и вывод сайт в лидеры поисковых запросов по заданной тематике. Оплата производится только за слова, которые вышли в ТОП-10.
                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>
        
        
        <div class="content_item">

          <p>
            <span>05</span>
           Реклама в мобильных приложениях
          </p>
          <div class="item_inside">

            <div class="flex_container_2_parts">
              <div class="flex_container_1part">
                <p class="content_sub_header">
       Реклама в мобильных приложениях работает так же, как и баннерная реклама, но с прицелом на мобильную аудиторию.

                </p>
              </div>
              <div class="flex_container_2part">
                <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

              </div>
            </div>


          </div>
        </div>

      </div>
</div>


<button class="content_button">
  Заказать рекламу
</button>

</div>
{% endblock %}