{% extends "main/base_content.html" %} {% block head %}
<title>Интернет реклама</title>
{% endblock %} {% block content %}

<div class="content_section_small">


    <div class="content_container_2">
        <div class="aboveline_container">
            <div class="aboveline_line"></div>
            <p class="aboveline">
                Реклама на просторах сети
            </p>
        </div>
        <h4 class="content_header_2">
            Интернет
        </h4>
        <div class="container_for_text">
            <p class="content_description_label">
                Описание
            </p>
            <div class="flex_container_2_parts reverse_order">

                <div class="flex_container_1part">
                    <p class="content_sub_header">
                        Размещение рекламы в Интернете является отличным способом продвижения своих товаров или услуг. Различные форматы интернет-рекламы позволяют охватить весь спектр запросов вашей целевой аудитории. Разместить рекламу в интернете можно именно там, где её эффективность будет максимальной.


                    </p>
                </div>
                <div class="flex_container_2part">
                    <p class="content_citate">
                        Важным плюсом интернет-рекламы является возможность её точного анализа – множество различных показателей объективно отражают востребованность выбранного формата, что позволяет оперативно принимать решения о смене или продолжении выбранной стратегии рекламной кампании.
                    </p>
                </div>
            </div>



        </div>

        <div class="small_grid_text">
            Основные виды рекламы в Интернете
        </div>
        <div class="flex_container_items big_items">
            <div class="content_item opened">

                <p>
                    <span>01</span> Контекстная реклама

                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Контекстная реклама – это объявления, которые высвечиваются в поисковых запросах по ключевым словам (Яндекс.Директ, Google.AdWords и т.д.). <br><br>

                                Контекстная реклама направлена на быстрое увеличение продаж. Рекламное объявление показывается в соответствии с запросом пользователя, что позволяет максимально эффективно расходовать рекламный бюджет.
                            </p>
                        </div>
                        <div class="flex_container_2part">
                            <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/context%20ads.png)"></div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="content_item">

                <p>
                    <span>02</span> Медийная реклама
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Медийная реклама – это размещение текстовых и графических рекламных материалов (баннеров, видеороликов, всплывающих окон, тизеров) на новостных порталах и тематических сайтах. Такая реклама может размещаться как в социальных сетях (таргетированная реклама), так и в Интернет-СМИ. Отклик на медийную рекламу очень высок, так как она способна привлечь внимание любого посетителя интернет-ресурса.
                            </p>
                        </div>
                        <div class="flex_container_2part">
                            <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/pop-up%20ads.png)"></div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="content_item">

                <p>
                    <span>03</span> Продвижение в социальных сетях (SMM)
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Размещение рекламы в социальных сетях – один из самых эффективных способов привлечь внимание к своему товару или услуге. SMM может использоваться как для увеличения продаж, так и для создания лояльной базы подписчиков.
                            </p>
                        </div>
                        <div class="flex_container_2part">
                            <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/smm.png)"></div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="content_item">

                <p>
                    <span>04</span> Продвижение в поисковых сетях (SEO)
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                SEO (Search Engine Optimization) - отвечает за увеличение поискового трафика на сайт клиента, а также вывод сайта в лидеры поисковых запросов по заданной тематике. SEO-продвижение необходимо для любого сайта, и проводится в несколько этапов. Более подробную информацию по SEO мы с удовольствием предоставим Вам по запросу.
                            </p>
                        </div>
                        <div class="flex_container_2part">
                            <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/seo.png)"></div>

                        </div>
                    </div>


                </div>
            </div>


            <div class="content_item">

                <p>
                    <span>05</span> Реклама в мобильных приложениях
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Данный продукт включает в себя все инструменты медийной рекламы на мобильных устройствах, а также даёт возможность размещения рекламы в мобильных приложениях, что является очень актуальным в современном обществе.    
                            </p>
                        </div>
                        <div class="flex_container_2part">
                            <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/mobile%20ads.png)"></div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <button class="content_button">
  Заказать рекламу
</button>

</div>
{% endblock %}
