{% extends "main/base_content.html" %} {% block head %}
<title>Реклама в СМИ (ТВ, радио, пресса)</title>
<meta name="description" 
    content="Размещение рекламы в средствах массовой информации (реклама в СМИ). Это и реклама в печатных СМИ, реклама на телевидении и реклама на радио. "
>
<meta name="keywords" content="телереклама, радиореклама, реклама в СМИ, реклама +в сми">
{% endblock %} {% block content %}

<div class="content_section_small">

    <div class="arrow_container">
        <a href="/service" class="">
            <img src="/static/main/img/right-arrow.svg" class="arrow_left" alt="">
            <br>
            <span style="
                position: relative;
                top: -20px;
                font-size: 14px;
                text-align: center;
                /* width: 100%; */
                left: 5px;
            ">вернуться</span>
        </a>
    </div>


    <div class="content_container_2">
        <div class="aboveline_container">
            <div class="aboveline_line"></div>
            <p class="aboveline">
                Читай, слушай, смотри
            </p>
        </div>
        <h4 class="content_header_3">
            Реклама в СМИ
        </h4>
        <div class="container_for_text">
            <p class="content_description_label">
                Описание
            </p>
            <div class="flex_container_2_parts reverse_order">

                <div class="flex_container_1part">
                    <p class="content_sub_header">
                        На данный момент лидирующие позиции занимает размещение рекламы в средствах массовой информации (реклама в СМИ). Это и реклама в печатных СМИ, реклама на телевидении и реклама на радио. <br><br> Размещение рекламы в прессе уже продолжительное время пользуется у рекламодателей огромным спросом. Ведь глянцевые и специализированные журналы, спортивные и политические газеты – имеют постоянную целевую аудиторию.

                    </p>
                </div>
                <div class="flex_container_2part">
                    <p class="content_sub_header">
                        Реклама на телевидении привлекает своей масштабностью и широким охватом. Данный вид рекламы идеально подходит для формирования и поддержания имиджа компании. <br><br> Реклама на радио сочетает в себе как плюсы рекламы на телевидении, так и печатных СМИ. Ведь реклама на радио позволяет добиться как широкого охвата, так и охватить узкую аудиторию благодаря тематическим радиостанциям.

                    </p>
                </div>
            </div>

        </div>

        <div class="small_grid_text">
            Типы носителей
        </div>
        <div class="flex_container_items big_items">
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/TV.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>01</span>
                    Телевидение
                </p>
                <div class="item_inside opened">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Реклама на ТВ по праву является самой дорогой и эффективной. Ежедневно телевизор смотрит многомиллионная аудитория, и именно поэтому реклама любых товаров и услуг однозначно достигнет своего потребителя.
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>При просмотре рекламы на ТВ задействуются и зрительные и слуховые органы чувств, что в разы повышает её эффективность;</li>
                                <li>Контент лучше запоминается за счет своей красочности, динамичности и креативности;</li>
                                <li>Реклама на ТВ формирует и помогает поддерживать имидж компании.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/radio.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>02</span>
                    Радио
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Реклама на радио является одной из самых ненавязчивых форм рекламы. Она сопровождает слушателя с самого раннего утра до позднего вечера, и при этом, лояльность к данному виду рекламы весьма высока. Радиореклама воздействует на человека непосредственно звуковыми эффектами: мелодичная музыка и приятные голоса дикторов оставляют в подсознании необходимую информацию, не вызывая негатива у слушателя.
                                <br><br>
                                <b>Плюсы:</b>
                            </p>
                            <ul>
                                <li>Высокая лояльность радиослушателей;</li>
                                <li>Возможность воздействия непосредственно на целевую аудиторию;</li>
                                <li>Невысокая стоимость рекламного контакта.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/news%20paper.png)"></div>

                </div>
                <p class="item-p-11">
                    <span>03</span>
                    Пресса
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Реклама в прессе по-прежнему остается очень эффективным носителем, несмотря на стремительно растущую популярность цифровых изданий. Периодическая печать имеет своего стабильного читателя в абсолютно разных тематиках, что даёт возможность размещать рекламу с наибольшей отдачей.
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>Высокий уровень доверия аудитории;</li>
                                <li>Возможность предоставлять развернутую информацию, в том числе и графическую;</li>
                                <li>Воздействие на целевую аудиторию посредством тематических печатных изданий.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/new/news_blue.png)"></div>

                </div>
                <p class="item-p-11">
                    <span>04</span>
                    Электронные СМИ
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Реклама на электронных ресурсах уже захватила рынок интернета. На просторах сети существует огромное количество сайтов с регулярной высокой посещаемостью. Благодаря разнообразию видов и форматов рекламы в интернете, можно достучаться до любого пользователя.
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>Максимально таргетированная реклама, в том числе на новостных и информационных порталах;</li>
                                <li>Точное определение затрат на контакт с посетителем ресурса;</li>
                                <li>Возможность быстрой смены стратегии по продвижению товара или услуги.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>

       
        </div>



        <button class="content_button">
  Заказать рекламу
</button>

    </div>

</div>
{% endblock %}