{% extends "main/base_content.html" %}

{% block head %}
   <title>Наружная реклама</title>
   <meta name="description" 
   content="Наружная реклама является отличным средством как для создания и поддержания имиджа, так и для построения географического охвата в соответствии с заданными привязками."
>
<meta name="keywords" content="наружная реклама, изготовление наружной рекламы, размещение наружной рекламы, вывески, наружная реклама москва, рекламные наружной рекламы, виды наружной рекламы, наружная реклама цены">
   
{% endblock %}

{% block content %}

<div class="content_section_small">

    <div class="arrow_container">
        <a href="/service" class="">
            <img src="/static/main/img/right-arrow.svg" class="arrow_left" alt="">
            <br>
            <span style="
                position: relative;
                top: -20px;
                font-size: 14px;
                text-align: center;
                /* width: 100%; */
                left: 5px;
            ">вернуться</span>
        </a>
    </div>

    <div class="content_container_2">
      <div class="aboveline_container">
        <div class="aboveline_line"></div>
        <p class="aboveline">
            Реклама, которую видит каждый
        </p>
      </div>
        <h4 class="content_header_2">
      Наружная реклама
      </h4>
        <div class="container_for_text">
          <p class="content_description_label">
        Описание
          </p>
        <div class="flex_container_2_parts">
          <div class="flex_container_1part">
            <p class="content_sub_header">
              Данный вид рекламы идеально подходит для того, чтобы построить навигацию, охватить локацию и выстроить долгосрочную коммуникацию. <br /><br />Наружная реклама является отличным средством как для создания и поддержания имиджа, так и для построения географического охвата в соответствии с заданными привязками.
            </p>
          </div>
          <div class="flex_container_2part">
<p class="content_citate">
  Позволяет донести информацию до аудитории независимо от возраста, пола или уровня дохода. Ее можно считать одним из самых дешевых видов рекламы, в расчете на стоимость рекламного контакта (СРТ).
</p>
          </div>
        </div>



        </div>

        <div class="small_grid_text">
            Типы носителей
        </div>
        <div class="flex_container_items big_items">
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/supersite.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>01</span>
                    Суперсайт
                </p>
                <div class="item_inside opened">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Крупноформатная конструкция наружной рекламы с внешней подсветкой. Расположение на высокой опоре помогает выделять рекламируемый товар, а также позволяет видеть рекламное изображение с большого расстояния. 
                                Наиболее распространённые размеры рекламной поверхности суперсайтов -  4х12, 5х12 или 5х15.
                                <br><br>
                                <b>Плюсы:</b>
                               
                            </p>
                            <ul>
                                <li> Замечательная видимость плаката благодаря высоте конструкций и крупному размеру рекламного поля;</li>
                                <li>Эффективное воздействие на аудиторию за счет расположения на основных магистралях и трассах с большим транспортным потоком; </li>
                                <li> Идеально подходящий формат как для проведения масштабных имиджевых кампаний, так и в целях продвижения новых товаров и услуг на рынок.</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/highway-board%201.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>02</span>
                    Магистральный щит
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Односторонняя или двусторонняя конструкция размером 3х6, установленная в черте города либо на обочинах автомагистралей, что позволяет привлечь внимание аудитории и, тем самым, повысить узнаваемость бренда. Магистральные щиты бывают статичными и динамичными (призмавижн и скроллер).
                                Являются самыми популярными конструкциями в Москве и Московской области.
                                <br><br>
                                <b>Плюсы:</b>
                            </p>
                            <ul>
                                <li>Наиболее доступный и массовый формат, позволяющий охватить максимальную аудиторию;</li>
                                <li>Эффективное воздействие на транспортные и пешеходные потоки за счет расположения на основных магистралях;</li>
                                <li>Возможность использования в качестве указателей;</li>
                                <li> Широкие возможности для нестандартных размещений.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/city-board.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>03</span>
                    Ситиборд 
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Конструкция малого формата с внутренней подсветкой размером 2,7х3,7м. Обычно на ситиборде размещается несколько рекламных постеров, которые динамически меняются с помощью специального механизма. Малый формат позволяет устанавливать скроллер в тех местах, где запрещена установка рекламных щитов. 
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>Размещение в центральной и исторической части города;</li>
                                <li>Наличие внутренней подсветки обеспечивает видимость для аудитории 24 часа в сутки;</li>
                                <li>Самая большая площадь рекламного поля среди конструкций сити-формата.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/ICONS/with_lightning/pilon.png)"></div>

                </div>
                <p class="item-p-11">
                    <span>04</span>
                    Рекламный пилон 
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Простые по конструкции стойки с подсветкой и динамической сменой изображения. Стандартный размер сити-формата — 1,2х1,8 м. Пилоны так же эффективны, как и билборды, однако больше ориентированы на пешеходов.
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>Размещение в центральной и исторической части города и максимальная ориентация на пешеходные потоки;</li>
                                <li>Наличие внутренней подсветки обеспечивает видимость для аудитории 24 часа в сутки.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>

            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/new/bus_stop.png)"></div>
                </div>
                <p  class="item-p-11">
                    <span>05</span>
                    Остановочный павильон 
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Площадка ожидания городского транспорта. Для рекламы на остановках используются задние и боковые стенки рекламных модулей. Наружная реклама на остановочных павильонах больше рассчитана на пешеходов и пассажиров общественного транспорта, однако так же привлекает внимание автомобилистов. Остановочный павильон идеально подходит для рекламы товаров массового потребления.
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>Широкий охват города, за счет развитой сети остановочных павильонов;</li>
                                <li>Эффективное воздействие на аудиторию за счет расположения на основных магистралях и трассах с большим транспортным потоком; </li>
                                <li> Идеально подходящий формат как для проведения масштабных имиджевых кампаний, так и в целях продвижения новых товаров и услуг на рынок.</li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/new/pillar.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>06</span>
                    Пиллар 
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Круглые и треугольные тумбы с рекламным полем 1,4х3м и подсветкой. В основном пиллары располагаются на оживленных центральных улицах и вдоль проспектов, возле остановок наземного транспорта, входов в метро и пешеходных переходов.
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>расположение пилларов в центральных районах города с интенсивным движением в любое время суток;</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>
            
            <div class="content_item">
                <div class="flex_container_2part">
                    <div class="content_img right" style="background-image:url(/static/main/img/new/afisha.png)"></div>
                </div>
                <p class="item-p-11">
                    <span>07</span>
                    Афишные стенды 
                </p>
                <div class="item_inside">

                    <div class="flex_container_2_parts">
                        <div class="flex_container_1part">
                            <p class="content_sub_header">
                                Информационные стенды, находящиеся в непосредственной близости от остановок общественного транспорта и метро, а также на бульварах и в скверах. 
                                <br><br>
                                <b>Плюсы:</b>

                            </p>
                            <ul>
                                <li>Широкий охват города, включая центральные улицы и исторические части;</li>
                                <li>Гибкие сроки размещения: минимальный период – 10 дней.</li>
                            </ul>
                        </div>
                        
                    </div>


                </div>
            </div>

        </div>

<button class="content_button">
  Заказать рекламу
</button>


       


</div>
</div>
{% endblock %}