{% extends "main/base_content.html" %}

{% block head %}
<title>Реклама на транспорте и в метро</title>
{% endblock %}

{% block content %}

<div class="content_section_small">


  <div class="content_container_2">
    <div class="aboveline_container">
      <div class="aboveline_line"></div>
      <p class="aboveline">
          Реклама, которую не остановить
      </p>
    </div>
      <h4 class="content_header_2">
    Реклама на транспорте и в метро
    </h4>
      <div class="container_for_text">
        <p class="content_description_label">
      Описание
        </p>
      <div class="flex_container_2_parts reverse_order">

        <div class="flex_container_1part">
          <p class="content_sub_header">
           Реклама на транспорте занимает особую нишу в сфере маркетинговых технологий. Широкий охват, динамичность, невысокая стоимость, богатые возможности визуальных эффектов – основные преимущества, которые дает реклама на транспорте.
    
          </p>
        </div>
        <div class="flex_container_2part">
        </div>
      </div>



      </div>

<div class="small_grid_text">
Типы носителей
</div>
      <div class="flex_container_items big_items">
        
        
          <div class="content_item">

              <p>
                  <span>01</span>
                  Реклама в Метро 
              </p>
              <div class="item_inside">

                  <div class="flex_container_2_parts">
                      <div class="flex_container_1part">
                          <p class="content_sub_header">
                              Реклама в метро - один из самых популярных видов продвижения товаров и услуг. Ежедневно миллионы пассажиров осуществляют контакт с данными видами рекламы: 
                              <br><br>
                              <b>Москва:</b>
                          </p>
                          
                          <ul>
                              <li>Эскалаторные щиты;</li>
                              <li>Путевые стены;</li>
                              <li>Реклама на световых коробах;</li>
                              <li>Липкая аппликация;</li>
                              <li>Внешнее и внутреннее брендирование составов;</li>
                              <li>Wi-Fi.</li>
                          </ul>
                          <p><b>Санкт-Петербург:</b></p>
                          <ul>
                              <li>Лайтбоксы;</li>
                              <li>Путевые стены;</li>
                              <li>Стикеры;</li>
                              <li>Звуковая реклама.</li>
                          </ul>
                      </div>
                      <div class="flex_container_2part">
                          <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

                      </div>
                  </div>


              </div>
          </div>
          
          <div class="content_item">

              <p>
                  <span>02</span>
                  Городской и пригородный наземный транспорт
              </p>
              <div class="item_inside">

                  <div class="flex_container_2_parts">
                      <div class="flex_container_1part">
                          <p class="content_sub_header">
                              Размещение рекламы на бортах автобусов, троллейбусов, трамваев и маршрутных такси.
                              Существует несколько вариантов оклейки транспортных средств: 
                          </p>
                          <ul>
                              <li>Бортовое оформление – это оклейка правой, левой и передней стороны ТС (для МТА) и только левой (для МГТ), включая окна; </li>
                              <li>Смартборт – оклейка задней части ТС без стёкол;</li>
                              <li>Полное брендирование – оклейка обоих бортов и задней части ТС.</li>
                              <li>Внутреннее оформление – стикеры формата А3, А4 и брендирование салона.</li>
                          </ul>
                      </div>
                      <div class="flex_container_2part">
                          <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

                      </div>
                  </div>


              </div>
          </div>
          
          <div class="content_item">

              <p>
                  <span>03</span>
                  МЦК, электрички, «Ласточки», «Стрижи», «Сапсаны» и поезда дальнего следования
              </p>
              <div class="item_inside">

                  <div class="flex_container_2_parts">
                      <div class="flex_container_1part">
                          <p class="content_sub_header">
                              Размещение стикеров в данных видах транспорта возможно в следующих местах:
                          </p>
                          <ul>
                              <li>Стикеры на окнах;</li>
                              <li>Стикеры между окнами;</li>
                              <li>Стикеры на стеклянных перегородках;</li>
                              <li>Стикеры на откидных столиках;</li>
                              <li>Стикеры входной группы;</li>
                              <li>Стикеры на арках;</li>
                              <li>Брендирование арок.</li>
                          </ul>
                          <p>Так же в данной группе возможны раскладка и сэмплинг.</p>
                      </div>
                      <div class="flex_container_2part">
                          <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

                      </div>
                  </div>


              </div>
          </div>
          
          <div class="content_item">

              <p>
                  <span>04</span>
                  Аэроэкспресс
              </p>
              <div class="item_inside">

                  <div class="flex_container_2_parts">
                      <div class="flex_container_1part">
                          <p class="content_sub_header">
                              Размещение рекламы на бортах поездов «Аэроэкспресс» - это уникальный способ построить коммуникацию с современной аудиторией с доходом средний и выше. Многообразие вариантов распространения рекламы позволяет достигнуть цели любой рекламной кампании.
                              Форматы:
                          </p>
                          <ul>
                              <li>Стикеры на спинках кресел и откидных столиках;</li>
                              <li>Межоконные стикеры;</li>
                              <li>Стикеры входной группы;</li>
                              <li>Потолочные арки и арки входной группы;</li>
                              <li>Видеомониторы;</li>
                              <li>Внешнее брендирование электропоездов.</li>
                          </ul>
                      </div>
                      <div class="flex_container_2part">
                          <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

                      </div>
                  </div>


              </div>
          </div>
        
        
          <div class="content_item">

              <p>
                  <span>05</span>
                  Реклама в такси
              </p>
              <div class="item_inside">

                  <div class="flex_container_2_parts">
                      <div class="flex_container_1part">
                          <p class="content_sub_header">
                              Ежедневно сотни тысяч жителей столицы пользуются услугами такси. Этот рекламный формат всегда был и остается востребованным, поскольку помимо самих пассажиров, рекламу так же видят пешеходы и другие автомобилисты. 
                              Возможности размещения: 
                          </p>
                          <ul>
                              <li>Оклейка автомобиля;</li>
                              <li>Световые короба на крышах;</li>
                              <li>Видеомониторы в салоне.</li>
                          </ul>
                      </div>
                      <div class="flex_container_2part">
                          <div class="content_img right" style="background-image:url(static/main/img/indoor/lightbox.png)"></div>

                      </div>
                  </div>


              </div>
          </div>
        
        
        
        
        
        

      </div>
</div>

<button class="content_button">
  Заказать рекламу
</button>

</div>
{% endblock %}